.container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.listing_container {
  /* position: absolute; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stop_container {
}
